html,
body{
  height: 100%;
  background-color: rgb(150, 157, 157);
  font-family: 'Montserrat', sans-serif;
}

.container{
  display: grid;
  max-width: 100%;
  max-width: 100%;
  background-color: #ffff;
  margin-top: 20px;
  margin-left: 40px;
  margin-right:80px;
  grid-template-columns: 400px 1fr 50px;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "aside main footer";
}

aside{
  grid-area: aside;
  background-color: rgb(52, 53, 66);
  border-radius: 100% 0% 100% 0% / 0% 43% 57% 100%;
  padding-bottom: 50px;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
  background-color: rgb(52, 53, 66);
  border-radius: 100% 0% 100% 0% / 100% 100% 0% 0% ;
}

.photo{
  max-width: 399.5px;

}

.sidebar-title{
  color: rgb(222, 218, 239);
}

.contact-link{
  color: rgb(222, 218, 239);
}