html,
body{
  height: 100%;
  background-color: rgb(150, 157, 157);
}

.container{
  display: grid;
  height: 100%;
  max-width: 100%;
  background-color: #ffff;
  margin-top: 20px;
  margin-left: 40px;
  margin-right:80px;
  grid-template-columns: 400px 1fr 50px;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "aside main footer";
}

aside{
  grid-area: aside;
  background-color: aqua;
  border-radius: 100% 0% 100% 0% / 0% 78% 22% 100% ;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
  background-color: aqua;
  border-radius: 100% 0% 100% 0% / 100% 100% 0% 0% ;
}

.foto{
  position:absolute;
  max-width: 400px;
  /* max-height: 400px; */
}